html, body {
  padding: 0;
  border: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  color: #FFF;
  font-size: 10px;
}

/**
 * 1. No content inside the app
 *    should be user-selectable.
 */
* {
  -moz-user-select: none; /* 1 */
}

a {
  outline: 0 none;
  text-decoration: none;
  color: #FFF;
}

a:active {
  color: #000;
  background-color: #00ABCD;
}

.hidden-block {
  visibility: hidden;
}

#container {
  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
}

#container > div {
  position: absolute;
  left: 0;
  width: 100%;
}

/****** styles for frequency view *******/
#frequency-bar {
  box-sizing: border-box;
  top: 0;
  height: 6.4rem;
  width: 100%;
  text-align: center;
  background-color: #2a2a2a;
  overflow: hidden;
  transition: background-color 680ms ease;
}

#frequency-bar.dim {
  background-color: #232323;
}

#frequency-bar > div {
  text-align: center;
}

#frequency-display {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: calc(100% - 4rem);
  transition: opacity 680ms ease;
}

.dim #frequency-display {
  opacity: 0.1;
}

#frequency-display > a {
  position: absolute;
  top: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 4rem auto;
  z-index: 1;
}

#bookmark-button {
  right: 0;
}

#bookmark-button {
  background-image: url("images/toggle-fav-star-off.png");
}

#bookmark-button:active,
#bookmark-button[data-bookmarked="true"]:active {
  background-image: url("images/toggle-fav-star-pressed.png");
}

#bookmark-button[data-bookmarked="true"] {
  background-image: url("images/toggle-fav-star-on.png");
}

#speaker-switch {
  left: 0;
  background-image: url("images/speaker-off.png");
}

#speaker-switch:active,
#speaker-switch[data-speaker-on="true"]:active {
  background-image: url("images/speaker-pressed.png");
}

#speaker-switch[data-speaker-on="true"] {
  background-image: url("images/speaker-on.png");
}

#frequency {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 6.3rem;
  line-height: 4.4rem;
  font-weight: 300;
}

/* need to ask Amy about this
#frequency::after {
  content: "MHz";
  font-size: 1.5rem;
  padding-left: 0.3rem;
}
*/
/*****  end  *****/

/**** styles for frequency dialer *****/
#dialer-bar {
  top: 12.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  height: 8.6rem;
  overflow: hidden;
  color: #FFF;
}

#dialer-container {
  position: relative;
  padding-left: 50%;
  height: 100%;
}

#dialer-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2A2A2A 6%, rgba(42,42,42, 0) 50%, #2A2A2A 94%);
  z-index: 1;
  pointer-events: none;
}

#frequency-indicator {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.8rem;
  height: 6.4rem;
  margin-left: -0.4rem;
  background: url(images/selector.png) no-repeat center center / 0.8rem;
  z-index: 1;
}

.animation-on > div {
  transition: -moz-transform 0.4s ease 0s;
}

#frequency-dialer {
  display: inline-block;
  display: -moz-inline-box;
  -moz-user-select: none;
  width: 100%;
  margin-left: -2.2rem;
  position: absolute;
  top: 0;
}

#frequency-dialer .dialer-unit-mark-box {
  background: url(images/dial-notches.png) no-repeat 0 3.4rem / 32rem;
  overflow: hidden;
  height: 5.5rem;
}

#frequency-dialer .dialer-unit {
  text-align: left;
  height: 7.5rem;
  position: absolute;
  width: 32rem;
}

/* The beginning and end of the dial are masked to hide notches that
are out of range. */
.dialer-unit-mark-mask-start,
.dialer-unit-mark-mask-end {
  background-color: #2a2a2a;
  display: block;
  height: 5.5rem;
  position: absolute;
}
/* The mask at the end should be jogged left by 0.3rem, since the
mask is intended to cover everything except the first notch. */
.dialer-unit-mark-mask-end {
  margin-left: .3rem;
}

#frequency-dialer .dialer-unit-floor {
  color: #AAA;
  float: left;
}
/**** end *******/

/***** styles for RDS ******/
#rds-container {
  top: 6.4rem;
  z-index: 100;
}

/**** end *******/

/***** styles for favorites list ******/
#fav-list {
  overflow: auto;
  top: 21.3rem;
  bottom: 8.6rem;
  background-color: #222222;
}

#fav-list-container {
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  width: calc(100% - 3rem);
}

#fav-list-container > div {
  position: relative;
  font-size: 2.1rem;
  font-weight: 300;
  height: 5.9rem;
  line-height: 5.9rem;
  border-bottom: 0.1rem solid rgba(255,255,255,0.04);
  clear: both;
}

#fav-list-container > div:last-child {
  border-bottom: 0;
}

#fav-list-container > div:active {
  background-color: rgba(52,140,158, .6);
}

#fav-list-container > div:active:before,
#fav-list-container > div:active + div:before {
  background-color: transparent;
}

#fav-list-container .fav-station-name {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: calc(100% - 7rem);
  padding-right: 3rem;
  cursor: pointer;
}

#fav-list-container .selected .fav-station-name {
  color: #00CAF2;
  background: url(images/now_playing.png) no-repeat right 50% / 2.4rem;
}

#fav-list-container .fav-list-frequency {
  float: right;
  width: 7rem;
  font-size: 2.5rem;
  text-align: right;
}

/* need to ask Amy about this
#fav-list-container .fav-list-frequency::after {
  content: "MHz";
  font-size: 1.5rem;
  position: absolute;
  padding: .6rem .2rem 0 1rem;
}
*/
/***** end *****/

/***** styles for status bars *****/
.action-bar:before {
  content: '';
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  top: 0;
  height: 0.1rem;
  background-color: rgba(255,255,255, 0.04);
}

.action-bar {
  bottom: 0;
  height: 8.6rem;
  background-color: #222222;
  overflow: hidden;
}

/* Styles for action bar */
/* FIX: it doesn't hide itself */
.action-bar[hidden] {
  display: none;
}

.action-bar a {
  position: absolute;
  top: 50%;
  margin-top: -2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #434343;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.action-bar a:active {
  color: #FFF;
  background-color: #00ABCD;
}

#frequency-op-seekdown {
  left: 5.2rem;
  background-image: url(images/seekdown.png);
  background-size: 4.8rem auto;
}

#frequency-op-seekdown:active {
  background-image: url(images/seekdown.png);
}

#frequency-op-seekup {
  right: 5.2rem;
  background-image: url(images/seekup.png);
  background-size: 4.8rem auto;
}

#frequency-op-seekup:active {
  background-image: url(images/seekup.png);
}

#power-switch {
  margin-top: -3.6rem;
  left: 50%;
  width: 7rem;
  height: 7rem;
  margin-left: -3.5rem;
  background-image: url(images/play.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 7rem;
  overflow: hidden;
}

#power-switch:active {
  background-image: url(images/play.png);
}

#power-switch[data-enabled="true"] {
  background-image: url(images/stop.png);
}

#power-switch[data-enabled="true"]:active {
  background-image: url(images/stop.png);
}

#power-switch span {
  display: none;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 6.6rem;
  height: 6.6rem;
  background: url(images/spinner-FMRadio.png) no-repeat 50% 50% / 6.6rem;
}

#power-switch[data-enabling="true"] span,
#power-switch[data-seeking="true"] span {
  animation: 0.9s spinner-animation infinite steps(30);
  display: block;
}

@keyframes spinner-animation {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**** end ****/

/***  styles for  warning box ****/
.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #FFF;
  background-color: #2d2d2d;
}

.warning .warning-header {
  padding: 1rem 3rem 1rem 3rem;
  font-weight: normal;
  font-size: 1.9rem;
  color: #fff;
}

.warning .warning-body {
  font-weight: 300;
  font-size: 2.5rem;
  padding: .5rem;
  border-top: .1rem solid #686868;
  margin: 0 2.5rem;
}

/* Press (default & recommend) */
.warning .menu button:active {
  border-color: #008aaa;
  color: #333;
}
/**** end ****/

/***  styles for antenna warning box ****/
#antenna-warning {
  z-index: 2;
}

#antenna-warning > div:first-child {
  height: 60%;
  background: url(images/headset.png) no-repeat center center / 18.4rem;
}

#antenna-warning .warning-header {
  margin-top: -2.5rem;
}
/******* end *******/

/***  styles for airplane mode warning box ****/
#airplane-mode-warning {
  z-index: 3;
}

#airplane-mode-warning .warning-header {
  margin-top: 50%;
}
/******* end *******/

/***  styles for RTL languages ****/
/* The scrollbar should be on the left.
 * But direction is explicitly set to LTR on #container
   So we force #fav-list to be RTL, while keeping the children LTR
*/
html[dir=rtl] #fav-list {
  direction: rtl;
}

html[dir=rtl] #fav-list > * {
  direction: ltr;
}
/******* end *******/
